.heading{
    width: 100%;
    text-align: left;

}

.heading h3{
    display:inline;
}

.heading button{
float: right;
border:2px solid white;
}

.marioimage{
    width: 100%;
}

#start,#status{
    font-size: 25px;
}

.modal-dialog{
    width: 90%;

}

.instruction_image{
    width: 45%;
}

.footer{
    bottom: 0px;
    margin: 0px;
    position: fixed;
    background-color:aquamarine;
    width: 100%;
    height: 40px;
    color: black;
    font-size: 20px;
}

video{
    background: url('game_console.png');
    background-size: cover;
    padding: 25px;
    background-position: center;
}